.custom-btn {
  border-radius: 100px;
  min-width: 73px;
  width: 100%;
  height: 54px;
  padding: 4px;
  color: $primary-dark-second;
}
.btn-outline-dark-second {
  border-color: $primary-dark-second;
  color: $primary-dark-second;
}
