.vc-bordered {
  border-radius: 20px !important;
  border-color: $primary-dark-second !important;
}
.vc-pane-container {
  font-family: 'jf-openhuninn-2.1', sans-serif !important;
}
.vc-arrow {
  background: transparent;
  color: $primary-dark-second !important;
}
.vc-title {
  background: transparent;
}
.vc-day-content {
  border-radius: 6px !important;
}
.vc-blue {
  --vc-accent-600: #ECB88A !important;
}
.vc-highlight-bg-solid {
  border-radius: 6px !important;
  //background: $primary !important;
}
