.header {
  z-index: 999;
  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    &:hover {
      color: $primary-dark !important;
    }
  }
  &-avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 2px solid $primary-dark;
    background: $primary-tint;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-name {
    font-size: 20px;
    font-weight: 700;
    color: $primary-dark-second;
    margin-bottom: 0;
  }
}
