.home {
  &-container {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
  &-title {
    font-size: 32px;
    font-weight: 700;
    color: $primary-dark-second;
  }
  &-banner {
    position: relative;
    width: 100%;
    //left: 50%;
    //right: 50%;
    //margin-left: -50vw;
    //margin-right: -50vw;
    height: calc(100vh - var(--app-bar-height));
    background-image: url('@/assets/images/home/home_banner.jpg');
    background-size: cover;
    background-position: center center;
  }
  &-search {
    border-radius: 40px;
    padding: 40px;
    background: rgba($white, 0.7);
    &-label {
      font-size: 24px;
      font-weight: 700;
      color: $primary-dark-second;
    }
  }
  &-cat {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  &-service {
    &-section {
      z-index: 9;
    }
    &-blush {
      max-width: 220px;
      position: absolute;
      left: 0;
      bottom: 24px;
      &.right {
        left: unset;
        right: 0;
      }
    }
    &-subTitle {
      font-size: 24px;
      font-weight: 700;
      color: $primary-dark-second;
    }
    &-img {
      border-radius: 40px;
      overflow: hidden;
    }
    &-text {
      font-size: 20px;
      color: $black-800;
    }
  }
  &-use {
    &-section {
      padding: 128px 40px 68px 40px;
      border-style: solid;
      border-color: $primary-dark;
      border-radius: 40px;
    }
    &-titleSection {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -24px);
    }
    &-img {
      max-width: 140px;
    }
    &-subTitle {
      font-size: 20px;
      font-weight: 700;
      color: $primary-dark-second;
    }
    &-text {
      font-size: 20px;
      color: $black-800;
    }
  }
  &-security {
    &-foot {
      position: absolute;
      top: 60px;
      right: 80px;
      max-width: 123px;
      z-index: 0;
    }
    &-section {
      border-right: 1px solid $primary;
    }
    &-subTitle {
      font-size: 20px;
      color: $primary-dark;
    }
    &-img {
      max-width: 120px;
    }
    &-text {
      font-size: 20px;
      color: $black-800;
    }
  }
  &-trust {
    &-card {
      border-radius: 20px;
    }
    &-title {
      width: calc(100% - 40px);
      padding: 0 8px;
      p {
        font-size: 24px;
        font-weight: 700;
        color: $primary-dark-second;
      }
    }
    &-text {
      font-size: 20px;
    }
    &-icon {
      width: 40px;
      height: 40px;
    }
    &-foot {
      position: absolute;
      top: 60px;
      left: 80px;
      max-width: 123px;
      transform: scaleX(-1);
      z-index: 0;
    }
  }
  &-recommend {
    &-description {
      font-size: 20px;
      color: $primary-dark-second;
    }
    &-card {
      padding: 28px;
      border-radius: 48px;
      &-top {
        border-bottom: 2px solid $primary;
      }
      &-img {
        display: inline-block;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
          display: block;
          object-fit: cover;
        }
      }
      &-name {
        font-size: 24px;
        font-weight: 700;
        color: $primary-dark-second;
      }
      &-left {
        width: 82px;
        p {
          font-size: 20px;
          font-weight: 700;
          color: $primary-dark-second;
        }
      }
      &-right {
        width: calc(100% - 82px);
        padding: 0 12px;
      }
      &-row {
        display: flex;
        margin: 0 -2px;
      }
      &-icon {
        padding: 0 2px;
      }
      &-text {
        font-size: 20px;
        color: $black-800;
      }
    }
  }
}
