@font-face {
  font-family: 'GenSenRounded2 TC';
  src: url('@/assets/fonts/GenSenRounded2TC-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GenSenRounded2 TC';
  src: url('@/assets/fonts/GenSenRounded2TC-Light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'GenSenRounded2 TC';
  src: url('@/assets/fonts/GenSenRounded2TC-Bold.woff2') format('woff2');
  font-weight: bold;
}
