.custom-select {
  width: 100%;
  &-input {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 100px;
    border: 1px solid $primary-dark-second;
    padding: 0 16px;
    background: $white;
    overflow: hidden;
    cursor: pointer;
  }
  &-append {
    transform: rotate(-180deg);
    transition: ease-in 0.1s;
  }
  &-options {
    width: 100%;
    max-height: 0;
    position: absolute;
    left: 0;
    top: 88px;
    background: $white;
    border-radius: 20px;
    transition: max-height 0.1s ease;
    overflow: hidden;
    &.hide {
      max-height: 400px;
      padding: 8px;
      border: 1px solid $primary-dark-second;
      z-index: 2;
    }
  }
  &-option {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 12px;
    background: $white;
    padding: 12px;
    font-size: 20px;
    color: $black-900;
    cursor: pointer;
    p {
      font-size: 20px;
      color: $black-900;
      margin-bottom: 0;
    }
    &:hover {
      background: $black-100;
    }
  }
  input {
    width: 100%;
    padding: 12px 8px;
    font-size: 20px;
    color: $black-900;
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
    &::placeholder {
      font-size: 20px;
      color: $black-600;
      line-height: 1;
    }
  }
}
