.bg-primary-tint {
  background: $primary-tint;
}
.bg-primary-dark {
  background: $primary-dark;
}
.bg-primary-dark-second {
  background: $primary-dark-second;
}
.bg-secondary-tint {
  background: $secondary-tint;
}
.bg-secondary-dark {
  background: $secondary-dark;
}
