.text-primary-tint {
  color: $primary-tint !important;
}
.text-primary-dark {
  color: $primary-dark !important;
}

.text-primary-dark-second {
  color: $primary-dark-second !important;
}

.text-secondary-tint {
  color: $secondary-tint !important;
}

.text-secondary-dark {
  color: $secondary-dark !important;
}
