.text-primary-tint {
  color: $primary-tint !important;
}
.text-primary-dark {
  color: $primary-dark !important;
}

.text-primary-dark-second {
  color: $primary-dark-second !important;
}

.text-secondary-tint {
  color: $secondary-tint !important;
}

.text-secondary-dark {
  color: $secondary-dark !important;
}

.text-black-100 {
  color: $black-100 !important;
}

.text-black-200 {
  color: $black-200 !important;
}

.text-black-300 {
  color: $black-300 !important;
}

.text-black-400 {
  color: $black-400 !important;
}

.text-black-500 {
  color: $black-500 !important;
}

.text-black-600 {
  color: $black-600 !important;
}

.text-black-700 {
  color: $black-700 !important;
}

.text-black-800 {
  color: $black-800 !important;
}

.text-black-900 {
  color: $black-900 !important;
}
