.p-1-25 {
  padding-top: $spacer * 1.25;
  padding-bottom: $spacer * 1.25;
  padding-left: $spacer * 1.25;
  padding-right: $spacer * 1.25;
}
.px-1-25 {
  padding-left: $spacer * 1.25;
  padding-right: $spacer * 1.25;
}
.py-1-25 {
  padding-top: $spacer * 1.25;
  padding-bottom: $spacer * 1.25;
}

